/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  color: white;
  font-family: font-family: algerian;;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
    background: url(/img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
  }

  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .title {
      color: #fff !important;
      text-align: center;
      font-size: 30px;

  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }

  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  #centre_search {
      font-family: Montserrat, sans-serif;
      background-color: #2d2d30;
      font-size: 11px !important;
      color: white;
      width: 200px;
      height:50px;
      opacity: 0.9;
  }

.form-control search_bar{
  padding-top: 20rem;
 
  }

.search-area {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

  .foot {
    background-color: #2d2d30;
    position: absolute;
    bottom: 0;
    height: 25px;
    left: 0;
    margin-top: auto;
    overflow: hidden;
    position: absolute;
    width: 100%;
    font-family: algerian;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }